.card-back{
  height: 100px;
  width: 60px;
  margin-left: 10px;
  border: 2px solid rgb(247, 243, 243);
  border-radius: 4px;
  cursor: pointer;

  &__hidden {
    opacity: 0;
    pointer-events: none;
  }
}